# WARNING: this file has been automatically setup by the Capistrano script
#  Please make changes there, not here, as they will be overwritten....
#
# Global variables
SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin
MAILTO=molten-support@molten-magma.com
HOME=/
#
# MOLTEN specific jobs, uncomment when ready
#
1 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Account)'
2 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(User)'
2,17,32,47 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(SelfServiceUser)'
#3,11,19,27,35,43,51,59 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Case)'
3,10,17,24,31,38,45,52,59 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Case)'
4,9,14,19,24,29,34,39,44,49,54,59 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Contact)'
6,16,26,36,46,56 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Solution)'
7,17,27,37,47,57 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Attachment)'
#3,8,13,18,23,28,33,38,43,48,53,58 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(CaseComment)'
4,9,14,19,24,29,34,39,44,49,54,59 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(CaseComment)'
9 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(MoltenPost)'
53 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(CategoryData)'
51 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(CategoryNode)'
10 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Group)'
11 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Case_Watcher)'
12 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Case_Watcher_List)'
#13 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Component)'
#14 * * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'SalesforceSync.update_records(Product_Team)'
#0 4 * * * ruby -I /var/www/apps/molten/current/lib /var/www/apps/molten/current/jobs/run_job.rb 'Sfcontact.send_confirmations'
#
#Mongrel log rotation, mongrel restart, monit restart, twice/day
33 23 * * * /var/www/apps/molten/shared/system/logrotate.sh
#Clear user sessions daily
24 19 * * * /var/www/apps/molten/shared/system/clear_sessions.sh

0-59/10 * * * * /home/admin/molten_utils/toshiba_fix/sync_mySQL_with_salesforce.sh 1>/dev/null 2>/dev/null

0-59/5 * * * * /home/admin/molten_utils/monitor_ram_usage/monitor.sh >> /home/admin/molten_utils/monitor_ram_usage/log/monitor_ram_usage.log 2>/dev/null
