[log]
# If set, use in place of $PYSFDC_HOME/log
;logDir=log

[sforce]
# Use as-is if path is absolute, otherwise assume relative to 
# $PYSFDC_HOME/WDSL
wsdlPath=partner60.wsdl.xml

# SOAP namespace
namespace=urn:partner.soap.sforce.com

# retries
maxRetryCount=2

[sobject]
# describes the sobject metadata
type = single
boolean = {activateable, creatable, custom, deletable, layoutable, queryable, retrievable, replicatable, searchable, undeletable, updateable}

string = {name, label, labelPlural, urlDetail, urlEdit, urlNew}
contains = {sobjectfield, sobjectchildren}


[batch]
# define maximum batch sizes for various operations
# these are really enforced by the API, and raising the numbers here
# above those maximums will at best do nothing and at worst cause errors

# max objects in a create call
maxCreate = 200

# max IDs in a single retrieve
maxRetrieve = 2000

# max objects in a single update call
maxUpdate = 200

# max IDs in a single delete call
maxDelete = 2000


[sobjectfield]
# describes the sobject fields metadata
type = multi
key = name
parentfield = fields
boolean = {autonumber, calculated, creatable, custom, defaultedOnCreate, filterable, nameField, nillable, restrictedPicklist, selectable, updateable}
string = {name, label, soapType, type}
int = {byteLength, digits, length, precision, scale}
list = {referenceTo}
contains = sobjectpick


[sobjectpick]
# describes the sobject picklist metadata
type = multi
key = value
parentfield = picklistValues
boolean = {active, defaultValue}
string = {value, label}

[sobjectchildren]
type = multi
key = childSObject
parentfield = childRelationships
boolean = {cascadeDelete}
string = {childSObject, field}


[test]
# properties for the unit tests
#testusername = user@sfuser.com
#testpwencode = ########